{% if annonces|length > 0 %}
    {% for annonce in annonces %}
        <div class="advert__intro">
            {{ annonce|generateAnnoncesProfilLink|raw }} a posté dans <span
                    class="advert__intro-categorie">
                {% if user is defined %}
                    <a href="{{ path('annonces_categorie_user', {'slug' : annonce.categorie.slug, 'slug_user' : user.slug }) }}">{{ annonce.categorie.titre }}</a>
                {% else %}
                    <a href="{{ path('annonces_categorie', {'slug' : annonce.categorie.slug}) }}">{{ annonce.categorie.titre }}</a>
                {% endif %}
            </span>
            <div>Offre d'emploi : <span class="bold">{{ annonce.intitulePoste }}</span> à <span class="bold">{{ annonce.localisation }}</span></div>
            <div class="small">
                le {{ annonce.datePublication|localizeddate('none', 'none', null, null, 'dd MMMM') }}
                <span class="color-blue--light">({{ annonce.type.type }})</span>
            </div>
        </div>
        <div class="advert__container">
            <div class="advert__content">
                {{ annonce.contenu|truncate(400)|nl2br }}<a href="#"
                                                            class="loadAdvertFullText small color-accent"
                                                            data-url="{{ path('annonce_fulltext', {'id' : annonce.id }) }}">
                    Lire la suite</a>
            </div>
            <div class="advert__actions">
                {{ annonce|generateAnnoncesActionsLinks|raw }}
                <a href="#" class="shareAdvert" data-url="{{ path('annonce_view', {'id' : annonce.id }) }}"><span class="fa fa-facebook" aria-hidden="true"></span> Partager</a>
                {% if app.user == annonce.user or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('annonce_delete', {'id' : annonce.id}) }}"><span class="fa fa-times" aria-hidden="true"></span> Supprimer</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
