{% if astuces|length > 0 %}
    {% for astuce in astuces %}
        <div class="content__intro">
            {{ astuce|generateAstucesProfilLink }} a posté dans <span class="color-blue--light">
                {% if user is defined %}
                    <a href="{{ path('astuces_categorie_user', {'slug' : astuce.categorieAstuce.slug, 'slug_user' : user.slug }) }}">{{ astuce.categorieAstuce.titre }}</a>
                {% else %}
                    <a href="{{ path('astuces_categorie', {'slug' : astuce.categorieAstuce.slug}) }}">{{ astuce.categorieAstuce.titre }}</a>
                {% endif %}
            </span>
            <div class="bold"> {{ astuce.intituleAstuce }}</div>
            <div class="small">
                le {{ astuce.datePublication|localizeddate('none', 'none', null, null, 'dd MMMM') }}
            </div>
        </div>
        <div class="content__container">
            <div class="astuces__content">
                {{ astuce.contenu|nl2br }}
            </div>
            <div class="astuces__comments">
                {% if astuce.commentaires.empty == false %}
                    <a href="{{ path('astuce_view', {'id' : astuce.id}) }}" class="color-accent">Voir les commentaires ({{ astuce.commentaires|length }})</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#postAcomment" class="modal-load-postAcomment color-accent" data-url="{{ path('modal_post_comment', {'id' : astuce.id}) }}">Poster un commentaire</a>
                {% endif %}
            </div>
            <div class="actions">
                {{ astuce|generateAstucesActionsLinks }}
                <a href="#" class="shareAstuce" data-url="{{ path('astuce_view', {'id' : astuce.id }) }}"><span class="fa fa-facebook" aria-hidden="true"></span> Partager</a>
                {% if app.user == astuce.userAstuce or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('astuce_delete', {'id' : astuce.id}) }}"><span class="fa fa-times" aria-hidden="true"></span> Supprimer</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="color-white">Pas d'astuces publiées pour l'instant.</p>
    <a href="{{ path('astuces') }}" class="color-white homeLink"><span class="fa fa-home"
                                                                                aria-hidden="true"></span>
        Retourner au flux d'astuces général</a>
{% endif %}
