<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="emplois, offres, stages, cdd , cdi, social, reseau, partage, echange, solidarité">
        <meta name="description" content="Réseau social gratuit de partage d'offres d'emploi et de stages.">
        <meta name="theme-color" content="#303F9F">
        <title>YouJobs {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Activer la navigation</span>
                    <span class="icon-bar bgcolor-white"></span>
                    <span class="icon-bar bgcolor-white"></span>
                    <span class="icon-bar bgcolor-white"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}" >
                    <span class="color-blue--light">You</span><span class="color-white">Jobs</span>
                </a>
            </div>
            {% if app.user %}
            <form class="navbar-form navbar-left navbar-form__border" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher une annonce">
                    <div class="input-group-btn">
                        <button type="submit" class="btn bgcolor-accent">
                            <span class="fa fa-search color-white" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                    {% block navLinks %}
                        <li><a href="{{ path('home') }}"><span class="fa fa-bullhorn" aria-hidden="true"></span> Annonces</a></li>
                        <li><a href="{{ path('astuces') }}"><span class="fa fa-comments-o" aria-hidden="true"></span> Astuces</a></li>
                        <li><a href="#"><span class="fa fa-envelope" aria-hidden="true"></span> Messages</a></li>
                        <li><a href="{{ path('profil') }}"><span class="fa fa-user" aria-hidden="true"></span> Profil</a></li>
                        <li><a href="#"><span class="fa fa-question" aria-hidden="true"></span> Contact</a></li>
                        <li><a href="{{ path('logout') }}"><span class="fa fa-sign-out" aria-hidden="true"></span>Déconnexion</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    {% block flash %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="fermer">&times;</a>
                                <span class="fa fa-check" aria-hidden="true"></span> {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center color-white">Copyright 2017 YouJobs - Tous droits réservés | <a href="http://localhost:8000">Mentions légales</a> | <a href="#">Contact</a> </div>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>
