{% extends 'base.html.twig' %}

{% block title %}
    - Astuces
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/astuces.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                {% if app.user.getMessageAstucesLu == false %}
                    <div class="alert alert-info alert-dismissable" role="alert">
                        <a href="#" class="close" id="setAstucesMessageAsRead"
                           data-url="{{ path('astuces_read_intro_message') }}" aria-label="fermer" data-dismiss="alert">&times;</a>
                        <p><strong>Contribuez et partagez vos astuces !</strong></p>
                        <p>Vous trouverez sur cette page toutes les astuces postées par <u>vous</u>, les acteurs du
                            site.<br/>
                            N'hésitez pas, peut être que pour vous certaines astuces vous paraissent évidentes cependant
                            elles peuvent s'avérer utiles pour les autres.</p>
                        <p>Grâce à cet effort de solidarité commun, l'accès et le retour sur le marché de
                                l'emploi
                                sera facilité pour tous.</p>
                    </div>
                {% endif %}
                {% if user is defined %}
                    <h4 class="astuces__user">Astuces de {{ user.username }}</h4>
                {% elseif astucesFavorites is defined %}
                    <h4 class="astuces__user">Vos astuces favorites</h4>
                {% else %}
                    <span class="bgcolor-astuces color-white" id="postAtip--action"><span class="fa fa-plus"
                                                                                          aria-hidden="true"></span> <a
                                href="#" id="modal-load-postAtip" class="color-white" data-toggle="modal"
                                data-target="#postAtip" data-url="{{ path('modal_post_tip') }}">Poster une astuce</a></span>
                {% endif %}
                {{ include('blocks/astuces.html.twig') }}
                <div class="pagination">
                    {{ knp_pagination_render(astuces) }}
                </div>
                <div class="modal fade" id="postAtip" tabindex="-1" role="dialog" aria-labelledby="postAtipLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" id="postAtipContent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/astuces.js') }}"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: {{ fbAppId }},
                autoLogAppEvents: false,
                xfbml: true,
                version: 'v2.10'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
