{% extends 'base.html.twig' %}

{% block title %}
    - Astuce de {{ astuce.userAstuce.username }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/astuces.css') }}">
{% endblock %}

{% block navLinks %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ parent() }}
    {% else %}
        <li><a href="{{ path('index') }}">Accueil</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="content__intro">
                    {% if astuce.userAstuce.photo is not null %}
                        <img class="photo img img-responsive pull-left" alt="Photo de profil"
                             src="{{ asset(astuce.userAstuce.imgPath ~ astuce.userAstuce.photo.filename) }}">
                    {% endif %}
                    {{ astuce.userAstuce.username }} a posté une astuce
                    <div class="small">
                        le {{ astuce.datePublication|localizeddate('none', 'none', null, null, 'dd MMMM') }}
                    </div>
                </div>
                <div class="content__container">
                    <div class="astuces__content">
                        {{ astuce.contenu|nl2br }}
                    </div>
                    <p><a href="{{ path('astuces') }}" class="color-accent"><span class="fa fa-arrow-left" aria-hidden="true"></span> Retourner au flux d'astuces</a></p>
                    <h4>Commentaires</h4>
                    {% from 'macros/recursive_comment.html.twig' import recursiveComment %}
                    <div class="astuces__comments">
                        {% for commentaire in astuce.commentaires %}
                            {% if commentaire.parent == null %}
                                {{ recursiveComment(commentaire) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal fade" id="postAcomment" tabindex="-1" role="dialog"
                     aria-labelledby="postAcommentLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" id="postAcommentContent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/astuces.js') }}"></script>
{% endblock %}
