{% extends 'base.html.twig' %}

{% block title %}
    - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/annonces.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <ul class="list-group">
                    {% for categorie in categories %}
                        <li class="list-group-item">
                            <span class="badge badge__bgcolor">{{ categorie|countAnnoncesForACategorie }}</span>
                            <a href="{{ path('annonces_categorie', {'id' : categorie.id }) }}">{{ categorie.titre }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9">
                {% if app.user.messageAnnoncesLu == false %}
                    <div class="alert alert-info alert-dismissable" role="alert">
                        <a href="#" class="close" id="setAnnoncesMessageAsRead"
                           data-url="{{ path('annonces_read_intro_message') }}" aria-label="fermer" data-dismiss="alert">&times;</a>
                        <p><strong>Contribuez et partagez des offres d'emploi !</strong></p>
                        <p>En quelques minutes seulement, vous pouvez publier une annonce et indiquer le type de contrat et le secteur d'activité designé.</p>
                        <p>Les autres utilisateurs pourront vous remercier, et même partager votre annonce, la solidarité et le partage font partie intégrante de l'écosystème YouJobs.</p>
                        <p>Grâce à vous, les acteurs du site, vous contribuez ensemble à un effort commun qui est l'accès et le retour sur le marché de l'emploi.</p>
                    </div>
                {% endif %}
                <span class="home--postAdvert bgcolor-accent color-white"> <span class="fa fa-plus"
                                                                                 aria-hidden="true"></span> <a href="#"
                                                                                                               id="modal-load-postAdvert"
                                                                                                               class="color-white"
                                                                                                               data-toggle="modal"
                                                                                                               data-target="#postAdvert"
                                                                                                               data-url="{{ path('modal_post_advert') }}">Poster une annonce</a></span>
                {% for annonce in annonces %}
                    <div class="advert__intro">
                        {% if annonce.user.photo is not null %}
                            <img class="advert__photo img img-responsive pull-left" alt="Photo de profil"
                                 src="{{ asset(annonce.user.imgPath ~ annonce.user.photo.filename) }}">
                        {% endif %}
                        {{ annonce.user.username }} a posté dans <span
                                class="advert__intro-categorie"><a href="{{ path('annonces_categorie', {'id' : annonce.categorie.id}) }}">{{ annonce.categorie.titre }}</a></span>
                        <div>Offre d'emploi : <span class="bold">{{ annonce.intitulePoste }}</span> à <span class="bold">{{ annonce.localisation }}</span></div>
                        <div class="small">
                            le {{ annonce.datePublication|localizeddate('none', 'none', null, null, 'dd MMMM') }}
                            <span class="color-blue--light">({{ annonce.type.type }})</span>
                        </div>
                    </div>
                    <div class="advert__container">
                        <div class="advert__content">
                            {{ annonce.contenu|truncate(400)|nl2br }}<a href="#"
                                                                        class="loadAdvertFullText small color-accent"
                                                                        data-url="{{ path('annonce_fulltext', {'id' : annonce.id }) }}">
                                Lire la suite</a>
                        </div>
                        <div class="advert__actions">
                            {{ annonce|generateAnnoncesActionsLinks|raw }}
                            <a href="#" class="shareAdvert" data-url="{{ path('annonce_view', {'id' : annonce.id }) }}"><span class="fa fa-facebook" aria-hidden="true"></span> Partager</a>
                        </div>
                    </div>
                {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(annonces) }}
            </div>
            <div class="modal fade" id="postAdvert" role="dialog" tabindex="-1" aria-labelledby="postAdvertLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="postAdvertContent">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : {{ fbAppId }},
                autoLogAppEvents : false,
                xfbml            : true,
                version          : 'v2.10'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googleApiPlaces }}&libraries=places"></script>
{% endblock %}
