{% extends 'base.html.twig' %}

{% block title %}
    - Recherche
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/annonces.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="search-adverts">Résultats pour "{{ searchTerm }}" : {{ nbResults }} annonce(s)</h4>
                        {% if nbResults == 0 %}
                            <p class="color-white">Pas d'annonces correspondant à votre recherche : "<strong>{{ searchTerm }}</strong>".</p>
                            <p class="color-white">Suggestions :
                                <ul class="color-white">
                                    <li>Vérifiez l'orthographe du terme de recherche.</li>
                                    <li>Il n'y a pas d'annonces correspondant à votre intitulé de poste.</li>
                                </ul>
                            </p>
                        {% else %}
                            {{ include ('blocks/annonces.html.twig') }}
                        {% endif %}
                        <div class="navigation">
                            {{ knp_pagination_render(annonces) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
