{% extends 'base.html.twig' %}

{% block title %}
    - Astuces signalées
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/dataTables.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h4 class="color-white">Astuces signalées</h4>
                <div class="table-responsive">
                    <table class="table compact table-bordered table-condensed color-white" id="signalementsAstuces__content">
                        <thead>
                            <tr>
                                <th>Signalements</th>
                                <th>Utilisateur</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for astuce in astuces %}
                            <tr>
                                <td> <span class="badge badge__bgcolorAstuce">{{ astuce.nbSignalements }}</span></td>
                                <td> <a href="{{ path('profil_user', {'slug' : astuce.userAstuce.slug}) }}" target="_blank">{{ astuce.userAstuce.username }}</a></td>
                                <td>
                                    <a href="#" class="color-accent modal-load-astuceSignalee" data-toggle="modal" data-target="#signalementAstuce" data-url="{{ path('admin_modal_signalement_astuce', {'id' : astuce.id}) }}"><span class="fa fa-arrow-right" aria-hidden="true"></span> Lire</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="signalementAstuce" tabindex="-1" aria-labelledby="signalementLabel" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" id="signalementAstuceContent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $('#signalementsAstuces__content').DataTable
            ({
                "language":
                    {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
            });
        });
        $('.modal-load-astuceSignalee').click(function (e) {
            e.preventDefault();
            $('#signalementAstuceContent').html(loadModalHTML);
            $.ajax({
                url: $(this).data('url'),
                method: 'GET'
            }).done(function (response) {
                $('#signalementAstuceContent').html(response);
            });
        });
    </script>
{% endblock %}
