<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="connectLabel">Connexion</h4>
</div>
<div class="modal-body">
    {{ form_start(form) }}
        {% if error is defined %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn bgcolor-primary" id="btn-submit__login">
            <span class="fa fa-check color-white" aria-hidden="true"></span> <a href="#">Valider</a>
        </button>
        <p id="mdpOublieModal" data-url="{{ path('modal_mdpOublie') }}" data-toggle="modal" data-target="#mdpOublie" style="text-decoration: underline; margin-top:10px; cursor:pointer;">Mot de passe oublié ?</p>
    {{ form_end(form) }}

</div>
<div class="modal fade" id="mdpOublie" tabindex="-1" role="dialog" aria-labelledby="mdpOublieLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="mdpOublieContent">
        </div>
    </div>
</div>
<script>
    $('#btn-submit__login').click(function (e) {
        e.preventDefault();
        var $formData = $('form').serializeArray();
        $.ajax({
            url: "{{ path('login') }}",
            method: "POST",
            data: $formData,
            statusCode: {
                401: function (jqXHR) {
                    $('#connectContent').html(jqXHR.responseText);
                },
                200: function(url) {
                    document.location = url;
                }
            }
        });
    });
    $('#mdpOublieModal').click(function () {
        $('#mdpOublieContent').html(loadModalHTML);
        $.ajax({
           url:  $(this).data('url'),
            method: 'GET'
        }).done(function (response) {
            $('#mdpOublieContent').html(response);
        });
    });
</script>
