<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="fermer"><span aria-hidden="true"></span>&times;</button>
    <h4 class="modal-title" id="sendMessageLabel">Envoyer un message à {{ user.username }}</h4>
</div>
<div class="modal-body">
    {{ form_start(form) }}
    {{ form_row(form.contenu) }}
    <button type="submit" class="btn bgcolor-primary" id="btn-submit__sendMessage" formnovalidate><span class="fa fa-check" aria-hidden="true"></span> Valider</button>
    {{ form_end(form) }}
</div>

<script>
    $('#btn-submit__sendMessage').click(function (e) {
        e.preventDefault();
        $formData = $('form').serializeArray();
        $.ajax({
            url: '{{ path('message_envoi', {'slug' : user.slug, 'message' : message.id|default('newMessage') }) }}',
            method: 'POST',
            data: $formData,
            statusCode: {
                200: function(url) {
                    document.location = url;
                },
                400: function (jqXHR) {
                    {% if message.id is defined %}
                        $('#answerMessageContent').html(jqXHR.responseText);
                    {% else %}
                        $('#sendMessageContent').html(jqXHR.responseText);
                    {% endif %}
                }
            }
        });
    });
</script>
