{% extends 'base.html.twig' %}

{% block title %}
    - Votre Profil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="profil__heading">Profil personnel</h4>
                <p class="color-blue--light profil__heading--statut small"> (Rang : {{ app.user.statut }} )</p>
                {{ form_start(form) }}
                <div class="photo-user">
                    <div class="photo-user__add">
                        {{ form_widget(form.photo, { 'attr' : {'class' : 'photo-user__file'}}) }}
                        {% if app.user.photo is null %}
                        <span class="fa fa-plus" aria-hidden="true"></span> Ajouter une photo
                        {% endif %}
                    </div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.email) }}
                <div class="color-accent" data-toggle="collapse" data-target="#changePwd" aria-expanded="false" aria-controls="changePwd">
                    <span class="fa fa-pencil-square" aria-hidden="true"></span> Changer mot de passe
                </div>
                <div id="changePwd" class="collapse">
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                </div>
                <button type="submit" class="btn bgcolor-primary profil__btn-submit" formnovalidate>
                    <span class="fa fa-check color-white" aria-hidden="true"></span> Valider
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
