<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="fermer">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="signalementLabel">Astuce signalée</h4>
</div>
<div class="modal-body">
    <p>Utilisateur : <strong>{{ astuce.userAstuce.username }}</strong></p>
    <blockquote>
        {{ astuce.contenu|nl2br }}
    </blockquote>
    <div class="text-center">
        <a href="{{ path('remove_user', {'id' : astuce.userAstuce.id, 'referrer' : 'astuce'}) }}" class="btn btn-danger btn-sm"><span class="fa fa-times" aria-hidden="true"></span> Supprimer utilisateur</a>
        <div class="visible-xs"><br/></div>
        <a href="{{ path('remove_astuce', {'id' : astuce.id}) }}" class="btn btn-warning btn-sm"><span class="fa fa-times" aria-hidden="true"></span> Effacer astuce</a>
        <div class="visible-xs"><br/></div>
        <a href="{{ path('remove_signalement_astuce', {'id' : astuce.id}) }}" class="btn btn-success btn-sm"><span class="fa fa-times" aria-hidden="true"></span> Enlever signalement</a>
    </div>
</div>
